{% extends 'base.html' %}
{% block content %}
<div class="row">
    {% for single_news in news %}
        {% if forloop.counter0|divisibleby:3 and forloop.counter0 > 0 %}
            </div><div class="row">
        {% endif %}
        <div class="col">
            <div class="card">
                {% if single_news.image %}
                    <img class="card-img-top" src="{{ single_news.image.url }}" alt="Card image cap">
                {% else %}
                    <div class="placeholder-image" style="background-color: #ccc; height: 200px;"></div>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ single_news.en_title }}</h5>
                    <p class="card-text">{{ single_news.en_description }}.</p>
                    <p class="card-text">{{ single_news.published_date }}</p>
                    <a href="{% url 'news:news_detail' slug=single_news.slug %}" class="btn btn-primary">More Details</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}